src/main/mule/project-for-certificates.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f8fd2608-6aa7-48ed-a127-891db7417f97" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="2b84c5e0-da6c-4e52-8cd3-582d1c648cc9" />
	<xml-module:config name="XML_Config" doc:name="XML Config" doc:id="ba142727-722a-402f-ba8f-7ef9ef84b16b" />
	<xml-module:config name="XML_Config1" doc:name="XML Config" doc:id="b46a89f3-e091-430c-abd5-69909dd40955" />
	<file:config name="File_Config1" doc:name="File Config" doc:id="8142eebb-f829-4501-9841-bdf53e92576f" />
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="ed1d7c37-9a65-4cf7-af96-f444bcdd6b0d" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="sandiduttt2@gmail.com" password="@Hmt#19.63%" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<email:imap-config name="Email_IMAP" doc:name="Email IMAP" doc:id="c482e8a0-ba69-404d-b5b5-dcdc8def1503" >
		<email:imap-connection host="smtp.gmail.com" user="sandiduttt2@gmail.com" password="@Hmt#19.63%" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:imap-connection>
	</email:imap-config>
	<flow name="projectForCerticatesFlow" doc:id="40a80f8f-ee5b-41e9-9c80-830faeabda3e" >
		<http:listener doc:name="Listener" doc:id="ab9767d0-7b47-4df9-80bf-99178853d773" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="f33abfb5-1e1d-49bd-bda1-3279c44890e2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Hi this is a testing message!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8dea1c65-7f55-409d-a249-9bb8a0af0191" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="85dc2068-8b05-4f59-88aa-15085e045f88" message="dhdhtdh..."/>
	</flow>
</mule>
